* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
}

#root {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  margin-top: 30px;
  align-items: center;
  gap: 20px;
}

form {
  display: flex;
  gap: 10px;
}

p {
  margin: 0px;
}
